* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homebody {
  font-family: "raleway", sans-serif;
  color: #b5b6bc;
  line-height: 1.9;
}
a {
  text-decoration: none;
}
select,
input {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
}
#homeContainer {
  margin: 40px auto;
  max-width: 400px;
  padding: 20px;
}
.form-wrap {
  background: #ffffff;
  padding: 15px 25px;
  color: black;
}
.form-wrap h1,
.form-wrap p {
  text-align: center;
}
.form-wrap .form-group {
  margin-top: 15px;
}
.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: rgba(75, 75, 248, 0.795);
  color: white;
  cursor: pointer;
}
.form-wrap button:hover {
  background: rgba(50, 50, 248, 0.863);
}
